<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
		<% if @levels.present? %>
		<% @levels.each_with_index  do |l,i| %>
		<div class="row">
			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
				<%= link_to "Level #{l.label}",quiz_add_level_path(@quiz.id,l.id),class: 'btn btn-primary levels'%>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
</div>